:root {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    --first-color: #EFEDE6;
    --second-color: #444545;
    --third-color: #A99C75;
    --fourth-color: #F7F6F3;
    --fifth-color: #db9080;
    --sixth-color: #cc3f3f;
    --seventh-color: #6CAE75;
    --eighth-color: #488450;
    background-color: var(--first-color);
    color: var(--second-color);
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
    padding: 0;
}

h1 {    
    font-weight: 800;
    padding: 0;
    margin: 0;
}

p {
    margin: 0px;
    font-size: 12px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
}

/* Modal */

#newBookBtn {
    border: none;
    background-color: var(--first-color);
    border-radius: 1em;
    height: 40px;
    width: 40px;
    font-size: 40px;
    text-align: center;
    line-height: 0;
    color: var(--first-color);
    cursor: pointer;
    background-color: var(--second-color);
}

#newBookBtn:hover {
    filter: brightness(70%);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.addBookForm {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 15% auto;
    background-color: var(--first-color);
    width: 250px;
    border-radius: 8px;
    border: none;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Modal Content */

.formContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 1rem 1rem 1rem;
    gap: 12px;
}

.formContent h3 {
    margin: 0 0 5px 0;
    text-align: center;
}

.input {
    width: 95%;
    height: auto;
    font-size: 1rem;
    padding: 12px 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    color: var(--second-color);
}

.input::placeholder {
    color: var(--second-color);
    opacity: 30%;
}

.read {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    gap: 1rem;
}

.submitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    width: 6rem;
    height: 2rem;
    padding: 1rem;
    font-weight: bold;
    background-color: var(--third-color);
    color: var(--first-color);
}

.submitBtn:hover{
    filter: brightness(70%);
}

/* Add Animation */
    @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* Cards */

#library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2vw;
    margin: 2vw;
    width: 90%;
}

.bookCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    padding-bottom: 1em;
    background-color: var(--fourth-color);
    box-shadow: 1px 1px 4px .5px rgba(91, 93, 93, .15);
}

.cardHeader {
    display: flex;
    justify-content: flex-end;
    height: auto;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 25px;
    padding: 7px;
}

.btnContainer:hover {
    filter: brightness(70%);
}

.removeBtn {
    stroke: var(--third-color);
    fill: var(--third-color);
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0em 1em;
    margin-bottom: 16px;
}

.cardBody h3,
.cardBody h4 {
    margin: 0px;
    text-align: center;
    width: 100%;
    height: auto;
    overflow-wrap: break-word;
} 

.cardBody h3 {
    min-height: 80px;
    margin-bottom: 24px;
}

.cardBody h4 {
    min-height: 70px;
    font-weight: 500;
}

.cardBody p {
    margin-bottom: 6px;
}

.cardFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .75em;
}

.cardFooter p {
    font-weight: 500;
}

.readBtn {
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 42px;
    width: 8em;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    color: var(--fourth-color)
}

.readBtn.not-read {
    background-color: var(--fifth-color);
}

.readBtn.not-read:hover {
    background-color: var(--sixth-color);
}

.readBtn.read {
    background-color: var(--seventh-color);
}

.readBtn.read:hover {
    background-color: var(--eighth-color);
}